<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.1.0" targetFramework="net452" />
  <package id="Hardcodet.NotifyIcon.Wpf" version="1.0.5" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net452" />
  <package id="Microsoft.AspNet.SignalR.Client" version="2.2.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Core" version="1.1.0.0" targetFramework="net452" />
  <package id="Microsoft.WindowsAPICodePack-Shell" version="1.1.0.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="6.0.4" targetFramework="net452" />
  <package id="WindowsAPICodePack-Core" version="1.1.2" targetFramework="net452" />
  <package id="WindowsAPICodePack-ExtendedLinguisticServices" version="1.1.1" targetFramework="net452" />
  <package id="WindowsAPICodePack-Sensors" version="1.1.1" targetFramework="net452" />
  <package id="XamlSpy" version="3.0.3" targetFramework="net452" />
  <package id="XamlSpyLibs" version="3.0.3" targetFramework="net452" />
</packages>